.calculator{
    border: 1px solid rgb(90, 90, 90);
    width: 200px;
    border-radius: 5px;
    
}
.display{
    margin: 10px;
    width: 170px;
    font-size: 25px;
}
.btn{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.btn1{
    width: 45px;
    height: 45px;
    margin: 3px;
}